* {
	font-family: 'Abel', sans-serif;
	

}
body {
   background: url("../assets/DSC_0737.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   background-color: #FFFFFF;

}

h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    /*font-family: 'Shadows Into Light', cursive;*/
}
h2 {
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    /*font-family: 'Shadows Into Light', cursive;*/
}

p {
    color: #FFFFFF;
    font-size: 18px;
}
.box {

<<<<<<< HEAD
/* 	background-color: rgba(20, 20, 30, 0.8); */
/* 	opacity: 0.5; */
	background-color:rgba(20, 20, 30, 0.8);
=======
	background-color: #FFFFFF;
/* 	opacity: 0.5; */
/* 	background-color:rgba(255, 255, 255, 0.9); */
>>>>>>> 74d43a17537a3687752ebed4e3badf5d8a7a5966
	border-radius: 2px;
	
	/*margin-top:2%;*/

	padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 20px;

    box-shadow: 1px 1px 1px 1px rgba(0,0,0, 0.4);

}
.margin-class {
  margin-top: 3%;
}
.btn-nice {
	background-color: rgba(20, 20, 30, 0.8);
	color: #FFFFFF;
/*
	box-shadow: 1px 1px 1px 1px #CCCCCC;
*/
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;

    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
}

.btn-nice:hover, .btn-nice:active, .btn-nice:focus {
	color: rgb(20, 20, 30);
    background-color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;

}

.text-font {
  font-family: 'Roboto', sans-serif;
}

/* Style all font awesome icons */
.fa {
  font-size: 28px;
  background-color: rgba(20, 20, 30, 0.8);
  color: #FFFFFF;

  /*box-shadow: 1px 1px 1px 1px #CCCCCC;*/

   width: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
}

/* Add a hover effect if you want */
.fa:hover {
  color: rgb(20, 20, 30);
  background-color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
}

.fa-home {
  font-size: 20px;
  background-color: rgba(20, 20, 30, 0.8);
  color: #FFFFFF;

  /*box-shadow: 1px 1px 1px 1px #CCCCCC;*/

   width: 40px;
    padding-top: 10px;
    padding-bottom: 10px;

    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
}
<<<<<<< HEAD
.margins {
  padding-left: 40px;
  padding-right: 40px;
  text-align:left;
  text-indent: 30px;
}
=======
>>>>>>> 74d43a17537a3687752ebed4e3badf5d8a7a5966
